body{
	font-family: "Roboto", helvetica, arial, sans-serif;
}
#adminContainer{
	display: inline-block;
	width: 83%;
	margin-left: 215px;
	margin-top: 25px;
	position: relative;

}

.chartContainer{
	width: 400px;
	height: 400px;
	border: 1px solid black;
}


.adminTable{
	width:100%;
}

.adminTable th{
	background-color: #4caf50;
	width: 250px;
	padding-left: 10px;

}

.adminTable tr:hover{
	-webkit-box-shadow: 2px 1px 9px -2px rgba(43,43,43,0.62);
	-moz-box-shadow: 2px 1px 9px -2px rgba(43,43,43,0.62);
	box-shadow: 2px 1px 9px -2px rgba(43,43,43,0.62);
	border-bottom: none;
}

.tableContainer{
	margin: 25px;
}

/* ************CARDS*************** */
.cardDiv{
	min-height: 250px;
	width: 100%;
	border: 2px solid #4cae4c;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
}

.cardTitle{
	height: 25px;
	width: 100%;
	background-color: #4cae4c;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	font-family: "Roboto", helvetica, arial, sans-serif;

}

.cardTitle .cardTitleSpan{
	width: 100%;
	margin-left: 7px;
}

.cardContent{
	width: 100%;
	padding: 5px;
	font-family: "Roboto", helvetica, arial, sans-serif;
}

/* ************CARDS END *************** */



.button {
	display: block;
	width: 115px;
	line-height: 37px;
	background: #4cae4c;
	margin-bottom: 10px;
	height: 37px;
	text-align: center;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	float: right;

}

.button:hover{
	background-color: #418B41;
}



.select-style {
	border: 1px solid #ccc;
	width: 120px;
	border-radius: 3px;
	overflow: hidden;
	background: #fafafa no-repeat 90% 50%;
}

.select-style option {
	padding: 5px 8px;
	width: 130%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

.select-style option:focus {
	outline: none;
}

input[type="file"] {
	display: none;
}
.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.custom-file-upload:required {
	border: 1px solid darkred;
}

.currencyinput {
	border: 1px inset #ccc;
}
.currencyinput input {
	border: 0;
}
#tableTituloContainer{
	border-radius: 4px;
	width: 25%;
	margin-bottom: 15px;
	display: inline-block;

}

#tabelaTitulo{
	color: #418B41;
	margin: 7px;
	font-size: 36px;
}

.inputBox{
}

/***********************************/

.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition:      -o-transform .3s ease-out;
	transition:         transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.64);
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header {
	padding: 15px;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
#modal-body {
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 15px;
	text-align: right;
}
.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding-right: 12px;
	padding-left: 12px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #418B41;
	color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.countRegisto{
	float: right;

}

.searchBox[type=text] {
	width: 130px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: white;
	background-image: url('../../images/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}







